body,html{
	margin: 0;
	padding: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#container{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #3f3;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow: hidden;
	z-index: 2;
	-webkit-overflow-scrolling: touch;
	/*-webkit-transition:0.2s;*/
}
.contentPart{
	position: relative;
	width: 100%;
	height: 100%;
}

.contentPart.first{
	background-color: #EEEEEE;
	border-bottom:1px solid   rgba(190, 190, 190, 0.5);
}

.contentPart.second{
	background-color: #E6E6E6;
	border-bottom:1px solid   rgba(190, 190, 190, 0.5);
}

.contentPart.third{
	background-color: #DEDEDE;
}

.contentPart.forth{
	background-color: #05f;
}
nav{
	background-color: #000;
	color:white;
	position: fixed;
	height: 70px;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Alegreya Sans SC', sans-serif;
	-webkit-transition:all 1s ease;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    2px 4px 14px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         2px 4px 14px 0px rgba(0, 0, 0, 0.75);
}
nav ul{
	position: absolute;
	right: 20%;
	top:15px;
	margin:0;
	padding: 0;
	
}
nav ul li{
	padding: 2px 0 3px 0;
	font-size: 20px;
	list-style-type: none;
	-webkit-transition:0.3s ease-in-out;
	cursor: pointer;
	
}
nav ul li:hover{
	padding: 2px 6px 3px 5px;
	/*border-left: 2px #005 solid;
	border-top: 2px #005 solid;*/
	box-shadow: 2px 2px 1px 0px rgba(0, 5, 0, 0.75);;
}
nav ul li:active{
	padding: 2px 6px 3px 3px;
	box-shadow: 2px 2px 1px 0px rgba(0, 5, 0, 0.40);
}
#logo{
	position: absolute;
	width: 20%;
	left:20%;
	height: 90%;
	background-image: url("../images/logo_white.png");
	background-size: 100% 100%;
	cursor: pointer;
	-webkit-transition:1.2s all ease-in-out;
}
@media(max-width:500px){
	#showNav{
		display: none;
	}
	#showNavThang{
		position: absolute;
		right: 20px;
	}
	nav{
		width: 210px;
		float: left;
		top: 0;
		z-index: 1;
		height: 100%;
		padding-left: 10px;
		box-shadow: 1px 0 8px;
		-webkit-transition:0.3s;
	}
	nav ul{
		right: 210px;

	}
}
@media (min-width: 501px){
	#showNavThang{
		display: none;
	}
	nav{
		top:0;
		z-index: 1;
		width: 100%;
	}
	nav ul li{
		font-size: 20px;
		display: inline-block;
		margin: 6px 0 15px 30px;
	}
}