body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*-webkit-overflow-scrolling: touch;*/
}
::-webkit-scrollbar { 
    display: none; 
}
#container{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #3f3;
	overflow-y: scroll;
 overflow-x: hidden;
	width: 100%;
	height: 100%;
	z-index: 2;
	/*-webkit-overflow-scrolling: touch;*/
	/*-webkit-transition:0.2s;*/
}
.contentPart{
	position: relative;
	width: 100%;
	height: 100%;
}

.contentPart.first{
	background-color: #EEEEEE;
	background-image: url("../images/background.png");
<<<<<<< HEAD
	background-size: 100% 100%;
=======
>>>>>>> origin/master
	border-bottom:1px solid   rgba(190, 190, 190, 0.5);
	background-size: 100% 100%;
}

.contentPart.second{
	background-color: #E6E6E6;
	border-bottom:1px solid   rgba(190, 190, 190, 0.5);
}

.contentPart.third{
	background-color: #1c1c1c;
	overflow: hidden;
	color:white;
	/*background-color: #e1e1e1;*/
}

.contentPart.forth{
	background-color: #05f;
}
nav{
	background-color: #000;
	color:white;
	position: fixed;
	height: 70px;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Alegreya Sans SC', sans-serif;
	-webkit-transition:all 1s ease;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    2px 4px 14px 0px rgba(0, 0, 0, 0.75);
	box-shadow:         2px 4px 14px 0px rgba(0, 0, 0, 0.75);
}
nav ul{
	position: absolute;
	right: 20%;
	top:15px;
	margin:0;
	padding: 0;
	
}
nav ul li{
	padding: 2px 0 3px 0;
	font-size: 20px;
	list-style-type: none;
	-webkit-transition:0.3s ease-in-out;
	cursor: pointer;
	
}
nav ul li:hover{
	padding: 2px 6px 3px 5px;
	/*border-left: 2px #005 solid;
	border-top: 2px #005 solid;*/
	box-shadow: 2px 2px 1px 0px rgba(0, 5, 0, 0.75);;
}
nav ul li:active{
	padding: 2px 6px 3px 3px;
	box-shadow: 2px 2px 1px 0px rgba(0, 5, 0, 0.40);
}
#logo{
	position: absolute;
	width: 20%;
	left:20%;
	height: 90%;
	background-image: url("../images/logo_white.png");
	background-size: 100% 100%;
	cursor: pointer;
	-webkit-transition:1.2s all ease-in-out;
	-moz-transition:1.2s all ease-in-out;
}
#logo_over{
	position: absolute;
	width: 20%;
	left:20%;
	height: 90%;
	background-image: url("../images/logo_white.png");
	background-size: 100% 100%;
	cursor: pointer;
	-webkit-transition:1.2s all ease-in-out;
	-moz-transition:1.2s all ease-in-out;
}
	#purple{
		position: absolute;
		top:-600px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		width: 700px;
		height: 700px;
		background-image: url("../images/paars.png");
		background-size: 100% 100%;
		-webkit-transform:rotate(-45deg);
	}
	#blue{
		position: absolute;
		bottom:-650px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		width: 700px;
		height: 700px;
		background-image: url("../images/blauw.png");
		background-size: 100% 100%;
		-webkit-transform:rotate(-45deg);
	}
	#orange{
		position: absolute;
		top:0px;
		margin-left: auto;
		margin-right: auto;
		left: 920px;
		right: 0;
		width: 700px;
		height: 700px;
		background-image: url("../images/oranje.png");
		background-size: 100% 100%;
		-webkit-transform:rotate(-45deg);
	}
	#green{
		position: absolute;
		top:0px;
		margin-left: auto;
		margin-right: auto;
		right: 920px;
		width: 700px;
		height: 700px;
		background-image: url("../images/groen.png");
		background-size: 100% 100%;
		-webkit-transform:rotate(-45deg);
	}
	#mapsImg{
		border-radius: 30px;
		width: 400px;
		height: 200px;
	}
	#contactForm{
		position: absolute;
		width: 50%;
		display: inline-block;
		margin:0 auto;
		margin-left:270px;
		top:120px;
	}
	#contactForm form{
		margin-top:20px;
	}
	#contactForm h2{
		padding:0;
		margin:0;
		padding-bottom:10px;
		font-family: 'Alegreya Sans SC', sans-serif;
	}
	#contactForm p{
		padding:0;
		margin:0;
		padding-left:10px;
	}
	#contactForm input[type=text]{
		border-radius: 15px;
		padding-left:8px;
		height: 20px;
	}
	#contactForm input, textarea{
		margin-top:12px;
		font-size:14px;
	}
	#contactForm textarea{
		/*height: 150px;
		width: 300px;*/
		border-radius: 15px;
		padding-left:8px;
	}
	textarea:focus, input:focus{
    	outline: 0;
	}
	#contactForm .inputText{
		font-family: 'Alegreya Sans SC', sans-serif;
	}
	#maps{
		width: 50%;
		height: 100%;
		position: absolute;
		right: 0;
		top:120px;
	}
	#maps p{
		padding:0;
		margin:0;
		padding-left:10px;
	}
	#maps .padTop{
		padding-top:10px;
	}
	#maps .padLeft{
		padding-left:20px;
		padding-bottom: 20px;
	}
	#maps .padBottom{
		padding-left:20px;
		padding-bottom:20px;
	}
	#maps a{
		padding-left:10px;
	}
	.cancelButton {
		-moz-box-shadow:inset 0px 1px 0px 0px #590700;
		-webkit-box-shadow:inset 0px 1px 0px 0px #590700;
		box-shadow:inset 0px 1px 0px 0px #590700;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ad0d02), color-stop(1, #bf291b) );
		background:-moz-linear-gradient( center top, #ad0d02 5%, #bf291b 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad0d02', endColorstr='#bf291b');
		background-color:#ad0d02;
		-webkit-border-top-left-radius:28px;
		-moz-border-radius-topleft:28px;
		border-top-left-radius:28px;
		-webkit-border-top-right-radius:28px;
		-moz-border-radius-topright:28px;
		border-top-right-radius:28px;
		-webkit-border-bottom-right-radius:28px;
		-moz-border-radius-bottomright:28px;
		border-bottom-right-radius:28px;
		-webkit-border-bottom-left-radius:28px;
		-moz-border-radius-bottomleft:28px;
		border-bottom-left-radius:28px;
		text-indent:0;
		border:0px solid #d02718;
		display:inline-block;
		color:#000000;
		font-family:Arial;
		font-size:16px;
		font-weight:600;
		font-style:normal;
		height:50px;
		line-height:50px;
		width:159px;
		text-decoration:none;
		text-align:center;
	}
	.cancelButton:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bf291b), color-stop(1, #ad0d02) );
		background:-moz-linear-gradient( center top, #bf291b 5%, #ad0d02 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf291b', endColorstr='#ad0d02');
		background-color:#bf291b;
	}
	.cancelButton:active {
		position:relative;
		top:1px;
	}
	.sendButton {
		margin-left: 20px;
		-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
		-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
		box-shadow:inset 0px 1px 0px 0px #caefab;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #43db2c), color-stop(1, #20b812) );
		background:-moz-linear-gradient( center top, #43db2c 5%, #20b812 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#43db2c', endColorstr='#20b812');
		background-color:#43db2c;
		-webkit-border-top-left-radius:28px;
		-moz-border-radius-topleft:28px;
		border-top-left-radius:28px;
		-webkit-border-top-right-radius:28px;
		-moz-border-radius-topright:28px;
		border-top-right-radius:28px;
		-webkit-border-bottom-right-radius:28px;
		-moz-border-radius-bottomright:28px;
		border-bottom-right-radius:28px;
		-webkit-border-bottom-left-radius:28px;
		-moz-border-radius-bottomleft:28px;
		border-bottom-left-radius:28px;
		text-indent:0;
		border:1px solid #26ff00;
		display:inline-block;
		color:#000000;
		font-family:Arial;
		font-size:16px;
		font-weight:600;
		font-style:normal;
		height:50px;
		line-height:50px;
		width:159px;
		text-decoration:none;
		text-align:center;
	}
	.sendButton:hover {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #20b812), color-stop(1, #43db2c) );
		background:-moz-linear-gradient( center top, #20b812 5%, #43db2c 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#20b812', endColorstr='#43db2c');
		background-color:#20b812;
	}
	.sendButton:active {
		position:relative;
		top:1px;
	}
/*1920 Resolutie*/
@media(min-width:1367 and max-width:1921px){
	#purple{
		top:-500px;
		left: 0;
		right: 0;
	}
	#blue{
		top:500px;
		left: 0;
		right: 0;
	}
	#orange{
		top:0px;
		left: 200px;
		right: 0;
	}
	#green{
		top:0px;
		right: 200px;
	}
}
@media(max-width:500px){
	#showNav{
		display: none;
	}
	#showNavThang{
		position: absolute;
		right: 20px;
	}
	nav{
		width: 210px;
		float: left;
		top: 0;
		z-index: 1;
		height: 100%;
		padding-left: 10px;
		box-shadow: 1px 0 8px;
		-webkit-transition:0.3s;
		-moz-transition:0.3s;
	}
	nav ul{
		right: 210px;

	}
}
@media (min-width: 501px){
	#showNavThang{
		display: none;
	}
	nav{
		top:0;
		z-index: 1;
		width: 100%;
	}
	nav ul li{
		font-size: 20px;
		display: inline-block;
		margin: 6px 0 15px 30px;
	}
}