body,html{
	margin: 0;
	padding: 0;
}
#container{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #3f3;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 2;
	/*-webkit-transition:0.2s;*/
}
.contentPart{
	position: relative;
	width: 100%;
	height: 100%;
}

.contentPart.first{
	background-color: #f33;
}

.contentPart.second{
	background-color: #33f;
}

.contentPart.third{
	background-color: #f50;
}

.contentPart.forth{
	background-color: #05f;
}
#showNav{
	display: none;
}
#showNavThang{
	position: absolute;
	right: 20px;
}
nav{
	background-color: #f1f1f1;
	width: 210px;
	float: left;
	position: fixed;
	top: 0;
	z-index: 1;
	height: 100%;
	padding-left: 10px;
	box-shadow: 1px 0 8px;
	-webkit-transition:0.3s;
}
nav ul{
	margin:0;
	padding: 0;
	right: 210px;

}
nav ul li{
	padding: 2px 0 3px 0;
	font-size: 20px;
	list-style-type: none;
}
nav ul li:hover{
	padding: 2px 0 3px 5px;
	border-left: 3px #005 solid;
	-webkit-transition:0.3s;
	
}